.card {
  color: var(--text-color);
  width: 175px;
  height: 250px;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.examType {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: -15px;
  left: -15px;
  height: 90px;
  width: 90px;
  border-radius: 0.8rem;
  background-color: var(--tertiary-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.cardContent h2 {
  font-size: 2rem;
  font-weight: 600;
}

.cardContent h3 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.cardContent h2 div {
  font-size: 1rem;
  font-weight: 400;
}

.cardContent h3 span {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: 175px;
  }
  .cardContent {
    padding-top: 0;
  }
}
