.divider {
  border: none;
  background-color: grey;
  height: 1px;
  opacity: 0.5;
  margin: 3rem 0 1rem 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  gap: 3rem;
}

.subject {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}
