.ancmntCard {
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  color: var(--text-light);
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 5px 2px var(--scrollbar-track);
  margin-bottom: 3rem;
  font-weight: 300;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
}

.date {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


