.committeesPage {
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: calc(100vh - 64px);
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.comGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
