.volCard {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  color: var(--text-color);
}

.instructor {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.dur {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.volname {
  font-size: 1.25rem;
  font-weight: 600;
}

.description {
  font-size: 0.95rem;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 100%;
}