.header {
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 1.5rem;
}

label {
    opacity: 0.7;
    gap: 1rem;
}

.row {
    font-size: 1.125rem;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start
}

.twoCol {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    width: 50%;
}

.threeCol {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 33%;
}

.card {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    height: 100%;
}

