.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.heading {
    font-weight: 600;
    font-size: 1.5rem;
}

label {
    opacity: 0.7;
    gap: 1rem;
}

.row1,
.row2,
.row3 {
    font-size: 1.125rem;
    display: grid;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}

.row1 {
    grid-template-columns: repeat(2, 1fr);
}

.row2,
.row3 {
    grid-template-columns: repeat(3, 1fr);
}

.threeColMiddle {
    display: flex;
    justify-content: center;
}

.twoColLast,
.threeColLast {
    display: flex;
    justify-content: flex-end;
}

.card {
    height: 100%;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 1.5rem;
    background-color: var(--secondary-color);
}

.cardInner {
    padding: 0.5rem 1rem;
}

.titleIcon {
    font-size: 1.75rem;
    opacity: 0.7;
    cursor: pointer;
}

.titleIcon:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .heading {
        font-size: 1.25rem;
    }

    .row1,
    .row2,
    .row3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .threeColMiddle {
        justify-content: flex-start;
    }

    .twoColLast,
    .threeColLast {
        justify-content: flex-start;
    }
}