.header {
    margin-top: 2.5rem;
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 1.5rem;
}

label {
    opacity: 0.7;
    gap: 1rem;
}

.row {
    font-size: 1.125rem;
    display: flex;
    flex-direction: row; 
    justify-content: start;
}

.twoCol {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    width: 50%;
}

.threeCol {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 33%;
}

.card {
    background-color: #B6C3F1;
    border-radius: 25px;
}