table{
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}