.full-view{
    min-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 45px auto;
}
.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3.5px solid #000;
}
.info-wrapper{
    margin: 35px;
}
.bigger{
    font-size: 2rem;
    font-weight: bolder;
}
.big{
    font-size: 1.5rem;
    font-weight: 400;
    color:#333
}
.bigg{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}
hr{
    width:95%;
    margin: 0 auto;
}
section{
    margin: 15px;
    display: inline-block;
    background-color: #411CBA;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.infowrapper2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
}
#section-2{
    flex:1;
}
.info-wrapper h1{
    padding: 5px 0px;
}