.container {
    min-height: calc(100vh - 64px);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 2rem;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.submit {
    color: var(--text-light);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
    border-radius: 0.5rem;
}