.ancmntCard {
  cursor: pointer;
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  color: var(--text-light);
  align-items: center;
  width: 100%;
  font-weight: 300;
}

.ancmntCard:hover {
  background-color: var(--primary-color);
}

.content {
  width: 100%;
}

.title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.3rem;
  font-weight: 600;
}

.date {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.paragraph {
  grid-column: 2 / 3;
  text-align: justify;
  height: 3rem;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .ancmntCard {
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem;
  }

  .title {
    font-size: 1.1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
  }
  .content {
    font-size: 0.8rem;
    padding-left: 0.25rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}


