.container {
  min-height: calc(100vh - 64px);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.card {
  color: var(--text-light);
  max-height: 420px;
  border-radius: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.card .inner {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}

.inner::-webkit-scrollbar {
  width: 0.5rem;
}

.inner::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 1rem;
}

.inner::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.addEvent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.takeInput {
  border: 0.05rem solid var(--pill-border-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.cardItem {
  cursor: pointer;
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: 1fr 15fr;
  border-radius: 2rem;
  padding: 1rem 1.5rem 1rem 0.5rem;
} 

.tableHeader {
  display: grid;
  font-size: 1.3rem;
  font-weight: 550;
  padding-left: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.divider {
  border: none;
  background-color: grey;
  height: 1px;
  opacity: 0.5;
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 0.3rem;
}