.card {
    max-height: 420px;
    border-radius: 2rem;
    color: var(--text-light);
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

.card .inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
}

.cardItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.cardItemLogo {
    width: 10rem;
}

.cardItemContent {
    flex: 1;
}

.cardItemContent h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.cardItemContent p {
    font-size: 1rem;
    font-weight: 300;
}

.inner::-webkit-scrollbar {
    width: 0.5rem;
}

.inner::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 1rem;
}

.inner::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 1rem;
}

/* @media screen and (max-width: 768px) {
    .card {
        font-size: 1rem;
    }
} */