.fas {
    width: 20px;
}

.drawerActive {
    opacity: 1 !important;
}

.drawerInactive {
    opacity: 0.65 !important;
}

.notifActive {
    opacity: 1 !important;
}

.notifInactive {
    opacity: 0.75 !important;
}