.card {
    color: var(--text-light);
    max-height: 420px;
    border-radius: 2rem;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.card .inner {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}
.cardItem {
    cursor: pointer;
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 15fr;
    border-radius: 2rem;
    padding: 1rem 1.5rem 1rem 0.5rem;
} 
.inner::-webkit-scrollbar {
    width: 0.5rem;
}

.inner::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 1rem;
}

.inner::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.subheading {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.classSelection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}
