.eventsCard {
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    color: var(--text-light);
    align-items: center;
    width: 100%;
    align-items: flex-start;
  }
  
  .eventname {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .eventcontrol {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  
  .position {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .horizontalLine {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  .organisation_name{
    font-size: 1.15rem;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .descr{
    font-size: 0.95rem;
    font-weight: 200;
  }